    /*
    Flaticon icon font: Flaticon
    Creation date: 18/10/2016 08:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-analytics:before { content: "\f100"; }
.flaticon-brainstorm:before { content: "\f101"; }
.flaticon-brainstorm-1:before { content: "\f102"; }
.flaticon-browser:before { content: "\f103"; }
.flaticon-business-card:before { content: "\f104"; }
.flaticon-chat:before { content: "\f105"; }
.flaticon-cloud-computing:before { content: "\f106"; }
.flaticon-coding:before { content: "\f107"; }
.flaticon-construction:before { content: "\f108"; }
.flaticon-cube:before { content: "\f109"; }
.flaticon-diamond:before { content: "\f10a"; }
.flaticon-focus:before { content: "\f10b"; }
.flaticon-folder:before { content: "\f10c"; }
.flaticon-graphic-design:before { content: "\f10d"; }
.flaticon-graphic-design-1:before { content: "\f10e"; }
.flaticon-graphic-design-2:before { content: "\f10f"; }
.flaticon-graphic-design-3:before { content: "\f110"; }
.flaticon-image:before { content: "\f111"; }
.flaticon-laptop:before { content: "\f112"; }
.flaticon-laptop-1:before { content: "\f113"; }
.flaticon-light-bulb:before { content: "\f114"; }
.flaticon-monitor:before { content: "\f115"; }
.flaticon-notepad:before { content: "\f116"; }
.flaticon-panel:before { content: "\f117"; }
.flaticon-pantone:before { content: "\f118"; }
.flaticon-pantone-1:before { content: "\f119"; }
.flaticon-pencil:before { content: "\f11a"; }
.flaticon-pencil-case:before { content: "\f11b"; }
.flaticon-photo-camera:before { content: "\f11c"; }
.flaticon-pipette:before { content: "\f11d"; }
.flaticon-portfolio:before { content: "\f11e"; }
.flaticon-poster:before { content: "\f11f"; }
.flaticon-rgb:before { content: "\f120"; }
.flaticon-shield:before { content: "\f121"; }
.flaticon-smartwatch:before { content: "\f122"; }
.flaticon-startup:before { content: "\f123"; }
.flaticon-stationery:before { content: "\f124"; }
.flaticon-swiss-army-knife:before { content: "\f125"; }
.flaticon-tablet:before { content: "\f126"; }
.flaticon-tablet-1:before { content: "\f127"; }
.flaticon-tablet-2:before { content: "\f128"; }
.flaticon-tablet-3:before { content: "\f129"; }
.flaticon-tags:before { content: "\f12a"; }
.flaticon-text:before { content: "\f12b"; }
.flaticon-trifold:before { content: "\f12c"; }
.flaticon-vector:before { content: "\f12d"; }
.flaticon-web-design:before { content: "\f12e"; }
.flaticon-web-design-1:before { content: "\f12f"; }
.flaticon-web-design-2:before { content: "\f130"; }
.flaticon-web-design-3:before { content: "\f131"; }
    
    $font-Flaticon-analytics: "\f100";
    $font-Flaticon-brainstorm: "\f101";
    $font-Flaticon-brainstorm-1: "\f102";
    $font-Flaticon-browser: "\f103";
    $font-Flaticon-business-card: "\f104";
    $font-Flaticon-chat: "\f105";
    $font-Flaticon-cloud-computing: "\f106";
    $font-Flaticon-coding: "\f107";
    $font-Flaticon-construction: "\f108";
    $font-Flaticon-cube: "\f109";
    $font-Flaticon-diamond: "\f10a";
    $font-Flaticon-focus: "\f10b";
    $font-Flaticon-folder: "\f10c";
    $font-Flaticon-graphic-design: "\f10d";
    $font-Flaticon-graphic-design-1: "\f10e";
    $font-Flaticon-graphic-design-2: "\f10f";
    $font-Flaticon-graphic-design-3: "\f110";
    $font-Flaticon-image: "\f111";
    $font-Flaticon-laptop: "\f112";
    $font-Flaticon-laptop-1: "\f113";
    $font-Flaticon-light-bulb: "\f114";
    $font-Flaticon-monitor: "\f115";
    $font-Flaticon-notepad: "\f116";
    $font-Flaticon-panel: "\f117";
    $font-Flaticon-pantone: "\f118";
    $font-Flaticon-pantone-1: "\f119";
    $font-Flaticon-pencil: "\f11a";
    $font-Flaticon-pencil-case: "\f11b";
    $font-Flaticon-photo-camera: "\f11c";
    $font-Flaticon-pipette: "\f11d";
    $font-Flaticon-portfolio: "\f11e";
    $font-Flaticon-poster: "\f11f";
    $font-Flaticon-rgb: "\f120";
    $font-Flaticon-shield: "\f121";
    $font-Flaticon-smartwatch: "\f122";
    $font-Flaticon-startup: "\f123";
    $font-Flaticon-stationery: "\f124";
    $font-Flaticon-swiss-army-knife: "\f125";
    $font-Flaticon-tablet: "\f126";
    $font-Flaticon-tablet-1: "\f127";
    $font-Flaticon-tablet-2: "\f128";
    $font-Flaticon-tablet-3: "\f129";
    $font-Flaticon-tags: "\f12a";
    $font-Flaticon-text: "\f12b";
    $font-Flaticon-trifold: "\f12c";
    $font-Flaticon-vector: "\f12d";
    $font-Flaticon-web-design: "\f12e";
    $font-Flaticon-web-design-1: "\f12f";
    $font-Flaticon-web-design-2: "\f130";
    $font-Flaticon-web-design-3: "\f131";